body {
    background-color: #44C9EB;
}
header, footer {background-color: #19B5AB;
}
#imagemprincipal {
    width: 93%;
    height: 300 px;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
}
h1, strong {
    font-size: 10px;

}
h1,h2 {
    text-align: center;
}
#Figura {
    font-size: 10px;
}
p {
    text-align: justify;
}

