body {
    background-color: #cccccc;
}
#banner {
    width: 100%
    
}
p {
    text-align:center;
    border: 10px solid #000000
}
h1 {
    color: #888888
}
#pergunta {
    font-style: oblique;
    font-size: large;
}