body {
    background-color: #cccccc;
}
#banner {
    width: 98%;
    border: 1px solid #000000;
    padding: 10px;
    
}
p {
    text-align:center;
    
}
h1 {
    text-color: #12ff56;
    color: #888888;
    border: 2px solid #000000;
}
#pergunta {
    font-style: oblique;
    font-size: large;
   }